{% extends 'index.html' %}
{% block title %}Login{% endblock %}
{% block content%}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <strong>Tu usuario y contraseña no son válidos. Ingreselos correctamente.</strong>
</div>
{% endif %}
<h1 class="text-center text-dark">Acceder</h1>
<form action="" class="d-flex justify-content-center" method="post">
    {% csrf_token %}
    <div class="col-5">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Nombre de usuario">
    </div>
    <d class="w-100"></d>
    <div class="col-5">
        <label for="psw" class="form-label">Contraseña</label>
        <input type="password" name="psw" id="psw" class="form-control">
    </div>
    <d class="w-100"></d>
    <div class="col-2">
        <button type="submit" class="btn btn-success">Iniciar sesión</button>
    </div>
</form>
{% endblock %}